<section class="about" id="about">
    <div class="container">
        <h2 class="about__title">what we do</h2>
        <div class="about__container">
            <span class="about__image-wrapper"><span class="about__image-block about__image-block--blue"></span><img
                    class="about__image" src="images/what_we_do_1.png" alt="img1"></span>
            <div class="about__wrapper">
                <h3 class="about__wrapper-subtitle">one world</h3>
                <h2 class="about__wrapper-title">Trade center</h2>
                <p class="about__wrapper-text">Increasing properity in our lives can be accomplished by having the right
                    frame
                    of mind. The truth is, our thoughts are very powerful.</p>
                <a href="#" class="button">more details</a>
                <div class="about__box">
                    <span class="about__box-svg">
                        <svg class="about__box-svg">
                            <use xlink:href="#place"></use>
                        </svg>
                    </span>
                    <p class="about__box-author">New York City, United States - 1776 feet</p>
                </div>
            </div>
        </div>
        <div class="about__container">
            <span class="about__image-wrapper"><span class="about__image-block--purple"></span><img class="about__image"
                    src="images/what_we_do_2.png" alt="img2"></span>
            <div class="about__wrapper">
                <h3 class="about__wrapper-subtitle">international</h3>
                <h2 class="about__wrapper-title">commerce centre</h2>
                <p class="about__wrapper-text">Successful businesses have many things in common, today we'll look at the
                    big
                    'R'
                    of recognition and how a digital advertising network may help.</p>
                <a href="#" class="button">more details</a>
                <div class="about__box">
                    <span class="about__box-svg">
                        <svg class="about__box-svg">
                            <use xlink:href="#place"></use>
                        </svg>
                    </span>
                    <p class="about__box-author">Hong Kong - 1588 Feet</p>
                </div>
            </div>
        </div>
    </div>
</section>