<section class="contact" id="contact">
    <h2 class="contact__title">get in touch</h2>
    <div class="box">
        <div class="contact__info">
            <ul class="list-contact">
                <li class="list-contact__item">
                    <svg class="list-contact__item-svg">
                        <use xlink:href="#place"></use>
                    </svg>
                    <p class="list-contact__item-text">Nolan Extensions Suite 670</p>
                </li>
                <li class="list-contact__item">
                    <svg class="list-contact__item-svg">
                        <use xlink:href="#phone"></use>
                    </svg>
                    <p class="list-contact__item-text">+001 356-868-2454</p>
                </li>
                <li class="list-contact__item">
                    <svg class="list-contact__item-svg">
                        <use xlink:href="#inbox"></use>
                    </svg>
                    <p class="list-contact__item-text">gahuy93@gmail.com</p>
                </li>
                <li class="list-contact__item">
                    <svg class="list-contact__item-svg">
                        <use xlink:href="#clock"></use>
                    </svg>
                    <p class="list-contact__item-text">From 07:05AM to 19:30PM</p>
                </li>
            </ul>
        </div>
        <form class="contact__form">
            <input class="form-input" type="text" placeholder="Mollie Medina" maxlength="5" required>
            <input class="form-input" type="email" placeholder="Email" required>
            <button href="#" class="button button--contact">Submit</button>
        </form>
    </div>
</section>