<section class="gallery" id="news">
  <h2 class="gallery__title">Gallery</h2>
  <div class="container">
    <div class="list-gallery">
      <div class="list-gallery__item "><img class="list-gallery__item--1 list-gallery__item-img"
          src="images/gallery_1.png" alt="gallery_1">
        <span class="list-gallery__item-icon">
          <img src="images/components/earth.png" alt="earth.png">
        </span>
      </div>
      <div class="list-gallery__box">
        <div class="list-gallery__item "><img class="list-gallery__item--2 list-gallery__item-img"
            src="images/gallery_2.png" alt="gallery_2">
          <span class="list-gallery__item-icon">
            <img src="images/components/earth.png" alt="earth.png">
          </span>
        </div>
        <div class="list-gallery__item "><img class="list-gallery__item--2 list-gallery__item-img"
            src="images/gallery_3.png" alt="gallery_3">
          <span class="list-gallery__item-icon">
            <img src="images/components/earth.png" alt="earth.png">
          </span>
        </div>
        <div class="list-gallery__item "><img class="list-gallery__item--2 list-gallery__item-img"
            src="images/gallery_4.png" alt="gallery_4">
          <span class="list-gallery__item-icon">
            <img src="images/components/earth.png" alt="earth.png">
          </span>
        </div>
        <div class="list-gallery__item "><img class="list-gallery__item--2 list-gallery__item-img"
            src="images/gallery_5.png" alt="gallery_5">
          <span class="list-gallery__item-icon">
            <img src="images/components/earth.png" alt="earth.png">
          </span>
        </div>
      </div>
    </div>
    <a href="#" class="button button--center"> see more</a>
  </div>
</section>