<section class="gallery">
    <h2 class="gallery__title">Gallery</h2>
    <div class="container">
        <div class="list-gallery">
            <div class="list-gallery__item "><img class="list-gallery__item--1 list-gallery__item-img"
                    src="images/gallery_1.png" alt="gallery_1"></div>
            <div class="list-gallery__box">
                <div class="list-gallery__box-item "><img class="list-gallery__item--2 list-gallery__item-img"
                        src="images/gallery_2.png" alt="gallery_2"></div>
                <div class="list-gallery__box-item "><img class="list-gallery__item--2 list-gallery__item-img"
                        src="images/gallery_3.png" alt="gallery_3"></div>
                <div class="list-gallery__box-item "><img class="list-gallery__item--2 list-gallery__item-img"
                        src="images/gallery_4.png" alt="gallery_4"></div>
                <div class="list-gallery__box-item "><img class="list-gallery__item--2 list-gallery__item-img"
                        src="images/gallery_5.png" alt="gallery_5"></div>
            </div>
        </div>
        <a href="#" class="button button--center"> see more</a>
    </div>
</section>