<header class="header">
    <div class="container">
        <nav class="container__wrapper container__wrapper--nav">
            <span class="container__image-wrapper"><img class="container__image" src="images/components/logo.png"
                    alt="logo"></span>
            <div class="open">
                <span class="cls"></span>
                <span class="container__wrapper cms">
                    <ul class="list sub-menu">
                        <li class="list__item">
                            <a class="list__item-link" href="#about">
                                <span class="list__item-wrapper">
                                    <svg class="list__item-svg">
                                        <use xlink:href="#circle"></use>
                                    </svg>
                                </span>
                                about us
                            </a>
                        </li>
                        <li class="list__item">
                            <a class="list__item-link" href="#project">
                                <span class="list__item-wrapper">
                                    <svg class="list__item-svg">
                                        <use xlink:href="#circle"></use>
                                    </svg>
                                </span>
                                projects
                            </a>
                        </li>
                        <li class="list__item">
                            <a class="list__item-link" href="#news">
                                <span class="list__item-wrapper">
                                    <svg class="list__item-svg">
                                        <use xlink:href="#circle"></use>
                                    </svg>
                                </span>
                                news
                            </a>
                        </li>
                        <li class="list__item">
                            <a class="list__item-link" href="#contact">
                                <span class="list__item-wrapper">
                                    <svg class="list__item-svg">
                                        <use xlink:href="#circle"></use>
                                    </svg>
                                </span>
                                contact
                            </a>
                        </li>
                    </ul>
                    <ul class="list-icon">
                        <li class="list-icon__item"><img src="images/components/facebook.png" alt="facebook"></li>
                        <li class="list-icon__item"><img src="images/components/twitter.png" alt="twitter"></li>
                        <li class="list-icon__item"><img src="images/components/instagram.png" alt="instagram"></li>
                    </ul>
                </span>
                <span class="cls"></span>
            </div>
        </nav>
    </div>
    <div class="header__slider">
        <div class="header__slider-wrapper">
            <h1 class="header__slider-title">Simple & mordern</h1>
            <p class="header__slider-text">We make the world's beautiful every day</p>
        </div>
        <div class="header__slider-wrapper">
            <h1 class="header__slider-title">Simple & mordern</h1>
            <p class="header__slider-text">We make the world's beautiful every day</p>
        </div>
        <div class="header__slider-wrapper">
            <h1 class="header__slider-title">Simple & mordern</h1>
            <p class="header__slider-text">We make the world's beautiful every day</p>
        </div>
        <div class="header__slider-wrapper">
            <h1 class="header__slider-title">Simple & mordern</h1>
            <p class="header__slider-text">We make the world's beautiful every day</p>
        </div>
        <div class="header__slider-wrapper">
            <h1 class="header__slider-title">Simple & mordern</h1>
            <p class="header__slider-text">We make the world's beautiful every day</p>
        </div>
    </div>
    <div class="arrow-down">
        <img src="images/components/arrow-down.png" alt="">
    </div>
</header>