<section class="news" id="project">
    <h2 class="news__title">latest news</h2>
    <div class="container">
        <div class="news__slider">
            <div class="card">
                <div class="card__box">
                    <span class="card__image-wrapper"><img class="card__image" src="images/latest_news_1.png"
                            alt="img1"></span>
                    <span class="card__icon-wrapper">
                        <img class="card__icon" src="images/components/plus.png" alt="plus">
                    </span>
                </div>
                <h3 class="card__title">See The Unmatched Beauty Of The Great.</h3>
                <p class="card__subtitle">Free directories: directories are perfect for customers tha are.. searching
                    for
                </p>
                <div class="card__wrapper">
                    <span class="card__wrapper-box"><img class="card__image" src="images/components/latest_card_1.png"
                            alt="img1"></span>
                    <div class="card__wrapper-block">
                        <p class="card__author">Isaac dunn</p>
                        <p class="card__date">09 Feb 2017</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__box">
                    <span class="card__image-wrapper"><img class="card__image" src="images/latest_news_2.png"
                            alt="img1"></span>
                    <span class="card__icon-wrapper">
                        <img class="card__icon" src="images/components/plus.png" alt="plus">
                    </span>
                </div>
                <h3 class="card__title">Effective Advertising Pointers.</h3>
                <p class="card__subtitle">Having a home based business is a wonderful asset to your life..</p>
                <div class="card__wrapper">
                    <span class="card__wrapper-box"><img class="card__image" src="images/components/latest_card_2.png"
                            alt="img1"></span>
                    <div class="card__wrapper-block">
                        <p class="card__author">dominic freeman</p>
                        <p class="card__date">24 Apr 2017</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__box">
                    <span class="card__image-wrapper"><img class="card__image" src="images/latest_news_3.png"
                            alt="img1"></span>
                    <span class="card__icon-wrapper">
                        <img class="card__icon" src="images/components/plus.png" alt="plus">
                    </span>
                </div>
                <h3 class="card__title">Effective Advertising Pointers.</h3>
                <p class="card__subtitle">Having a home based business is a wonderful asset to your life..</p>
                <div class="card__wrapper">
                    <span class="card__wrapper-box"><img class="card__image" src="images/components/latest_card_2.png"
                            alt="img1"></span>
                    <div class="card__wrapper-block">
                        <p class="card__author">dominic freeman</p>
                        <p class="card__date">24 Apr 2017</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__box">
                    <span class="card__image-wrapper"><img class="card__image" src="images/latest_news_1.png"
                            alt="img1"></span>
                    <span class="card__icon-wrapper">
                        <img class="card__icon" src="images/components/plus.png" alt="plus">
                    </span>
                </div>
                <h3 class="card__title">See The Unmatched Beauty Of The Great.</h3>
                <p class="card__subtitle">Free directories: directories are perfect for customers tha are.. searching
                    for
                </p>
                <div class="card__wrapper">
                    <span class="card__wrapper-box"><img class="card__image" src="images/components/latest_card_1.png"
                            alt="img1"></span>
                    <div class="card__wrapper-block">
                        <p class="card__author">Isaac dunn</p>
                        <p class="card__date">09 Feb 2017</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card__box">
                    <span class="card__image-wrapper"><img class="card__image" src="images/latest_news_2.png"
                            alt="img1"></span>
                    <span class="card__icon-wrapper">
                        <img class="card__icon" src="images/components/plus.png" alt="plus">
                    </span>
                </div>
                <h3 class="card__title">Effective Advertising Pointers.</h3>
                <p class="card__subtitle">Having a home based business is a wonderful asset to your life..</p>
                <div class="card__wrapper">
                    <span class="card__wrapper-box"><img class="card__image" src="images/components/latest_card_2.png"
                            alt="img1"></span>
                    <div class="card__wrapper-block">
                        <p class="card__author">dominic freeman</p>
                        <p class="card__date">24 Apr 2017</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrow-left">
            <img src="images/components/arrow-left.png" alt="">
        </div>
        <div class="arrow-right">
            <img src="images/components/arrow-right.png" alt="">
        </div>
    </div>

</section>