.arrow-right{
    position: absolute;
    top: 50%;
    right: 15%;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover{
        transform: translateX(10px);
    }
}
.arrow-left{
    position: absolute;
    top: 50%;
    left: 15%;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover{
        transform: translateX(-10px);
    }
}