.button{
    @include text($H10, 400, $button);
    display: block;
    font-family: $second-font;
    text-transform: uppercase;
    padding: 20px 40px;
    text-decoration: none;
    margin-bottom: 80px;
    border: 1px solid $button;
    max-width: 200px;
    transition: all 0.5s ease;
    cursor: pointer;
    @media screen and (max-width: $screen-tablet){
        margin: 0 auto;
        margin-bottom: 80px;
    }
    &:hover{
        transform: scale(1.1);
    }
    &--center{
        padding-left: 60px;
        margin: 0 auto;
    }
    &--contact{
        position: relative;
        left: 170px;
        width: 140px;
        background-color: transparent;
        visibility: hidden;
        @media screen and (max-width: $screen-tablet){
            left: auto;
        }
        opacity: 0;
    }
}
