.list-gallery{
    z-index:-1;
    list-style: none;
    @include flex(flex-start, stretch, row);
    @media screen and (max-width: 1174px){
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
    }
    margin-bottom: 60px;
    &__item{
        position: relative;
        margin-right: 10px;
        &:hover {
            .list-gallery__item-icon{
            display: block;
            }
        }
        &-img{
            max-width: 275px;
            height: 214px;
        }
        &-icon{
            @include size(80px);
            margin: auto;
            display: none;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            transition: all 0.2s ease;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
            }
            
        }
        &--1{
            max-width: 583px;
            height: 435px;
            margin-right: -20px;
            @media screen and (max-width: $screen-tablet){
            margin-right: 0;
            max-width: 275px;
            height: 214px;
            }
        }
        &--2{
            max-width: 275px;
            height: 214px;
        }
        
    }
    &__box{
        @include flex(center, stretch, row);
        flex-wrap: wrap;
        &-item{
            margin-right: 10px;
        }
        @media screen and (max-width: $screen-tablet)
    {
        align-items: center;
        justify-content: center;
    }
}
}