.list-navigation{
    list-style: none;
    @include flex(space-between, center, column);
    @media screen and (min-width: 1200px){
        flex-direction: row;
    }
    
    margin-right: 70px;
    &__item{
        transition: all 0.2s ease;
        cursor: pointer;
        @include flex(flex-start, center, row);
        &-active{
            svg{
                fill: #fff;
                background-color: #fff;
            }
        }
        &:hover svg{
            fill: #fff;
            background-color: #fff;
        
        }&:not(:last-child){
            margin-right: 70px;
        }
        &-link{
        @include text($H10, 500, $white);
        text-transform: uppercase;
        font-family: $second-font;
        }
        &-wrapper{
            margin-right: 15px;
            border-radius: 50%;
            @media screen and (max-width: 1200px){
                display: none;
                visibility: hidden;
            }
            
        }
        &-svg{
            @include svg(12px, transparent);
            border: 2px solid #fff;
            border-radius: 50%;
            transition: all 0.2s ease;   
            @media screen and (max-width: 1200px){
                display: none;
            }         
        }
    }
}
.list-icon{
    list-style: none;
    z-index: 18;
    @include flex(space-between, center, row);
    &__item{
        transition: all 0.5s ease;
        cursor: pointer;
        &:not(:last-child){
        margin-right: 20px;
        }
        &:hover{
            transform: scale(1.1);
        }
    } 
    @media screen and (max-width: 1200px){
        position: absolute;
        bottom: 40px;
        left: 50px;
    }
    &--footer{
        @media screen and (max-width: 1200px){
            position: static;
            align-items: center;
            padding-top: 20px;
        }
    }
}