
.slick-dots{
  margin: auto;
  position: absolute;
  right: 60px;
  top: -15%;
    padding: 0;
    margin: 0;
    @include size(10px);
}
.slick-dots li {
    padding: 0;
    margin: 0;
    width: 10px;
    margin-bottom: 40px;
    @include size(10px);
}
.slick-dots li button::before{
    padding: 0;
    font-size: 5px;
    color: transparent;
    opacity: 1;
    border: 1px solid #fff;
    border-radius: 50%;
    @include size(10px);
  }

  .slick-dots li.slick-active button::before,
  .slick-dots li.slick-active button:hover {
    padding: 0;
    color: transparent;
    background-color: #fff;
    opacity: 1;
    @include size(10px);
  }
